@import '../utils/variables.css';

.main {
  height: 580px;
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 47px;
  width: 65px;
  height: 508px;
  background-color: #f5f5f5;
  padding: 45px 0 0px 10px;
}

.main-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: #ddd;
}

:is(#main-fonts-container, #main-colors-container, #main-images-container, .main-images-container) {
  margin-bottom: 30px;
}

h1 {
  color: var(--purple);
  font-size: var(--medium);
  font-weight: 600;
}

.css-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: clip;
  scrollbar-width: none;

  &:has(#spinner, .no-items-container) {
    justify-content: center;
    align-items: center;

    .h1-container {
      position: absolute;
      top: 8em;
      display: block;
      button {
        display: none;
      }
    }
  }
}

.no-items-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#font-card {
  width: 358px;
  padding: 10px;
  margin-bottom: 5px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 0.5px solid #c3c3c3;
  background: #f7f7f7;
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.05), 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.skeleton-image {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 184px;
  height: 115.714px;
  background-color: var(--light-grey-2);

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.2) 20%, transparent 40%, transparent 100%);
    animation: shimmer 2s infinite;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

#spinner {
  border: 16px solid var(--light-grey-2);
  border-top: 16px solid var(--light-orange);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-top: 16px solid var(--purple);
  }

  25% {
    border-top: 16px solid var(--pink);
  }

  50% {
    border-top: 16px solid var(--red);
  }

  100% {
    transform: rotate(360deg);
    border-top: 16px solid var(--orange);
  }
}

.colors-container {
  display: flex;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
  width: 357px;
  height: 54px;
  box-shadow: 0px 4px 13px 0px var(--light-grey), 0px 1px 2px 0px var(--light-grey);
  p {
    font-style: italic;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px var(--very-light-orange), 0px 0px 10px 0px var(--light-orange);
  }
}

.font-element-container {
  padding: 10px 0;
}

.image-content {
}

.divider {
  width: 377px;
  height: 0.5px;
  background-color: var(--light-grey-2);
  padding: 0.5px 0;
  margin: 10px 0;
}

svg {
  fill: var(--grey);

  &:hover {
    fill: var(--purple);
    transition: fill 0.3s;
  }
}

.active {
  svg {
    fill: url(#logo-gradient);
  }
}

.main:has(#spinner) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 5px;
  width: 100%;
  height: 72px;
  background-image: var(--background-gradient);
}

ul {
  font-size: 15px;
  list-style-type: none;
}

#colorDiv {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border: black 2px solid;
}

#colorDiv:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#main-images-container, .main-images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.images-container {
  width: 184px;
  position: relative;

  &:hover {
    cursor: pointer;

    #image-overlay {
      display: block;
    }
  }
}

.image-download-tooltip {
  background-color: var(--purple);

  button {
    margin-right: 10px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
}

#image-div {
  width: 184px;
  height: 115.714px;
  object-fit: fill;
}

#image-overlay {
  position: absolute;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
  top: 0;
  display: none;
  height: 99%;

  svg {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  #image-name {
    color: var(--white);
    font-size: var(--small);
    font-weight: 400;
    position: absolute;
    bottom: 20px;
    padding: 5px;
  }

  #image-size {
    position: absolute;
    bottom: 0;
    padding: 5px;
    color: var(--white);
    font-size: var(--smaller);
    font-weight: 400;
  }
}

.mr {
  margin-right: 10px;
}

.pointer {
  cursor: pointer;
}

#hexDiv {
  font-size: var(--large);
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  &:hover {
    text-decoration: underline;
  }
}

#listItem {
  font-size: var(--small-medium);
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &:hover {
    text-decoration: underline;
  }
}

#listDesc {
  font-size: var(--small-medium);
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.link-logo {
  svg {
    fill: none;
  }

  &:hover {
    cursor: pointer;

    svg {
      fill: url(#logo-gradient);
      transition: fill 0.3s;
    }
  }
}

.li-font {
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
}

#font-heading {
  font-size: var(--small-medium);
  text-transform: capitalize;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

#font-element {
  font-size: var(--small);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.li-color {
  font-size: var(--large);
  align-items: center;
  cursor: auto;
}

#liContainer {
  display: flex;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.container {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

#fontElement {
  color: var(--black);
  font-size: var(--small-medium);
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 22.5px */
}

#fontItem {
  margin-top: 10px;
  color: var(--black);
  font-family: Roboto;
  font-size: var(--small);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

#settings-support-container {
  margin-top: 10em;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 45px;
}

.option-container {
  width: 100%;
  padding-bottom: 10px;

  .option {
    padding: 5px 0;
  }

  legend {
    font-size: var(--small-medium);
    font-weight: 600;
    color: var(--black);
    margin-bottom: 5px;
    padding-inline-start: 0;
  }

  .label {
    color: var(--black);
    font-size: var(--small-medium);
    font-weight: 400;
    cursor: pointer;
    padding: 0 20px;
    position: relative;
    line-height: normal;

    &:before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      bottom: 1px;
      background-color: var(--checkbox-grey);
    }
  }

  .option {
    display: flex;
    align-items: center;
  }
}

input[type=checkbox] {
  display: none;
}

.option label:before {
  border-radius: 1px;
}

fieldset {
  border: none;
}

input[type=checkbox]:checked + label:before {
  content: "\2714";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 12px;
  color: var(--white);
  background-color: var(--purple);
  text-align: center;
  line-height: 12px;
}

.h1-container:has(button) {
  .title-container {
    display: flex;
    align-items: center;
  }
}

button[disabled] {
  cursor: not-allowed;
}

#bgDiv {
  width: 16%;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px 5px;
}

.error-container {
  padding-top: 10em;
  font-size: 17.6px;
  color: var(--red);
}

.download-button {
  display: flex;
  width: 120px;
  height: 30px;
  align-items: center;
  margin-left: 17em;
  border-radius: 8px;
  background: var(--purple);
  color: #fff;
  font-size: var(--smaller);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.support-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.support-content-container {
  padding: 10px 0;

  h2 {
    text-transform: uppercase;
  };

  p {
    font-size: var(--small-medium);
    font-weight: 400;
    line-height: 130%;
  }

button {
  color: var(--white);
  background-color: var(--purple);
  padding: 9px;
  border-radius: 8px;
  font-size: var(--small);
  text-transform: uppercase;
};
}

.support-content-bottom {
  display: flex;
  font-size: var(--smaller);
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-top: 7em;

  a {
    color: var(--purple);
    text-decoration: underline;
  }
}