@import '../../utils/variables.css';

.main {
  height: 580px;
  width: 464px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 47px;
  width: 65px;
  height: 508px;
  background-color: #f5f5f5;
  padding: 45px 0 0px 10px;
}

.main-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: #DDD;
}

h1 {
  color: var(--purple);
  font-size: var(--medium);
  font-weight: 600;
}

.css-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;

}

.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.colors-container {
    display: flex;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
    width: 357px;
    height: 54px;
    box-shadow: 0px 4px 13px 0px var(--light-grey), 0px 1px 2px 0px var(--light-grey);

  p {
    font-style: italic;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px var(--very-light-orange), 0px 0px 10px 0px var(--light-orange);
  }
}


.font-content {}

.image-content {}

.divider {
  width: 357px;
  height: 0.5px;
  background-color: var(--light-grey-2);
  margin: 10px 0;
}

svg {
    fill: var(--grey);
    &:hover {
      fill: var(--purple);
      transition: fill 0.3s;
    }
  }

.active {
  svg {
    fill: url(#logo-gradient);
  }
}


.main:has(#spinner) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 5px;
  width: 100%;
  height: 72px;
  background-image: var(--background-gradient);
}

ul {
  font-size: 15px;
  list-style-type: none;
}

#colorDiv {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border: black 2px solid;
}

#colorDiv:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  box-shadow: 0 3px 6px rgba(0,0,0, 0.16), 0 3px 6px rgba(0,0,0, 0.23);
}

.mr {
  margin-right: 10px;
}

.pointer {
  cursor: pointer;
}

#hexDiv {
  font-size: var(--large);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


#listItem {
  font-size: var(--medium);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#listDesc {
  font-size: var(--medium);
  font-style: italic;
  font-weight: 400;
  line-height: normal;

}

.li-font {
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
}


#font-heading {
  font-size: var(--large);
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

#font-element {
  font-size: var(--small);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

}

.li-color {
  font-size: var(--large);
  align-items: center;
}

#liContainer {
  display: flex;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.container {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

#fontElement {
  color: var(--black);
  font-size: var(--medium);
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 22.5px */
}

#fontItem {
  margin-top: 10px;
  color: var(--black);
  font-family: Roboto;
  font-size: var(--small);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}


#spinner {
  font-size: 35px;
}

#imageDiv {
  width: 20%;
  height: 65px;
}

#bgDiv {
  width: 16%;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px 5px;
}
