.label {
    font-size: 13px;
}

#anchor {
    padding: 25px;
}

#anchor-highlight {
    padding: 25px;
}

label {
    cursor: pointer;
}

input {
    cursor: pointer;
}

.radio-option {
    display: flex;
    align-items: center;
}