@import '../utils/variables.css';

.label {
    font-size: 13px;
}

#anchor {
    margin: 15px 5px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 5px;
  width: 100%;
  height: 72px;
  background-image: var(--background-gradient);
}

.main-container {
  display: flex;
  width: 100%;
  justify-content: center;
}