/* the threshold at which colors are considered "light." Range: integers from 0 to 100, recommended 50 - 70 */
:root {
    --purple: #912381;
    --red: #EA2634;
    --orange: #F95535;
    --very-light-orange: rgba(249, 85, 53, 0.2);
    --light-orange: rgba(249, 85, 53, 0.5);
    --pink: #CD186D;
    --white: #FFF;
    --black: #1E1E1E;
    --grey: #444444;
    --light-grey: rgba(0, 0, 0, 0.05);
    --light-grey-2: #C3C4C7;
    --background-gradient: linear-gradient(to right, var(--purple), var(--pink),var(--red), var(--orange));

    --hue: 220;
    --sat: 100;
    --light: 50;
    --threshold: 65;
    --switch: calc((var(--light) - var(--threshold)) * -100%);

    --shadow-elevation-1: inset 0 7px 9px -7px rgba(0,0,0, 0.7);
    --shadow-elevation-2: 0 1px 3px rgba(0,0,0, 0.12), 0 1px 3px rgba(0,0,0, 0.24);
    --shadow-elevation-3: 0 3px 6px rgba(0,0,0, 0.16), 0 3px 6px rgba(0,0,0, 0.23);

    --large: 20px;
    --medium-large: 18px;
    --medium: 16px;
    --small-medium: 14px;
    --small: 12px;
    --smaller: 10px;
    --fontFamily: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: var(--fontFamily);
  padding: 0;
  background-color: transparent;
}

button {
  font-family: var(--fontFamily);
  font-size: var(--medium);
  cursor: pointer;
  border: none;
  background-color: transparent;
}