:root {
    --purple: #912381;
    --red: #EA2634;
    --orange: #F95535;
    --pink: #CD186D;
    --white: #FFF;
    --grey: #444444;
    --background-gradient: linear-gradient(to right, var(--purple), var(--pink),var(--red), var(--orange));
}


body {
  margin: 0;
  padding: 0;
  background-color: transparent;
}
