

button {
  border: none;
  background-color: white;
  margin-left: 10px;
}

button:hover {
  cursor: pointer;
}

#main {
  display: flex;
  flex-direction: column;
}

ul {
  font-size: 15px;
}

#colorDiv {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border: black 2px solid;
}

#colorDiv:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  box-shadow: 3px 0px rgba(0, 0, 0, 0.3), 2px 2px rgba(0, 0, 0, 0.3), 3px 3px rgba(0, 0, 0, 0.3);
}

.mr {
  margin-right: 10px;
}

.pointer {
  cursor: pointer;
}


#hexDiv:hover {
  background-color: #5e8fb8;
  color: #FFF;
  box-shadow: 3px 0px #5e8fb8, 2px 2px #5e8fb8, 3px 3px #5e8fb8;
}

#listItem:hover {
  background-color: #5e8fb8;
  color: #FFF;
  box-shadow: 3px 0px #5e8fb8, 2px 2px #5e8fb8, 3px 3px #5e8fb8;
}

#liContainer {
  display: flex;
  align-items: center;
  height: 30px;
}

#listDesc{
  font-style: italic;
  color: rgba(0, 0, 0, 0.8);
}

#spinner {
  font-size: 35px;
}
